
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

header h2 {
    margin: 0 50px;
}
.purple-text {
    color: #b54be5;
}

main {
    position: relative;
}

#main-content {
    text-align: center;
}

#main-content p {
    font-size: 20px;
}

.main-button {
    background-color: #351c75;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.main-button:hover {
    background-color: #bd60e7;
}

.centered {
    width: 60%;
    margin: auto;
    text-align: left;
}

.quiz-choices-div button {
    display: block;
    margin: 20px;
}

#correct-wrong-info {
    color: #9e9e9e;
    font-size: 30px;
    font-style: italic;
    border-top: 3px solid;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

#initials-form div {
    margin: auto 20px;
}

#high-score-table {
    width: 100%;
    margin-bottom: 20px;
}

.table-row {
    background-color: #d9d3e9;
    padding: 5px;
    margin: 5px 0;
}

#high-score-page div button {
    margin-right: 20px;
}